* {
    box-sizing: border-box;
    margin: 0px;
}

.header {
    position: fixed;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

.header div {
/* Moved to top of header selectors */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
/* <a> is for links. Links are in header section. Moved from body sectiopn to header section */
    color: #ffffff;
    text-decoration: none;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #0b1936;
}

/* removed ".header div ul/list-style-type: none" selector. Selector had not effect */

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

body {
/* Moved to below header selectors */
    background-color: #d9dcd6;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    background-image: url("../Develop/assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: top;
    margin-bottom: 25px;
}

.float-left {
    float: left;
    margin-right: 30px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 40px;
    clear: both;
    float: right;
    width: 20%;
    height: 1185px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
/* benefit-lead, -brand & -cost have the same values but listed individually. I combined these */
    margin-bottom: 40px;
    color: #ffffff;
    margin-top: 40px;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
/* benefit-lead, -brand & -cost h3 have the same values but listed individually. I combined these */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
/* benefit-lead, -brand & -cost img have the same values but listed individually. I combined these */
    display:block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
/* search-engine-optimization, online-reputation-management & social-media-marketing have the same values but listed individually. I combined these */   
    margin-bottom: 20px;
    padding: 80px;
    height: 382px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
/* search-engine-optimization, online-reputation-management & social-media-marketing img have the same values but listed individually. I combined these */ 
    max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
/* search-engine-optimization, online-reputation-management & social-media-marketing h2 have the same values but listed individually. I combined these */ 
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
